body {
font: 14px;
  font-family: monospaced;
  margin: 0;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  font-color: white;
}

header section {
  margin: 0 auto;
}

header img {
  background-image: url(https://drive.google.com/drive/u/2/folders/1D9NVIG_qVoqmw-edI40Ki8frjZdS--ec)
}

h1 {
  margin: 1em 0;
}

main {
  max-width: 1140px;
}

.course {
  display: flex;
  flex-wrap: wrap;
}

.course .title {
  flex: 0 0 33.3%;
  max-width: 33%
}

.course .descrition {
  flex: 0 0 66.6%;
  max-width: 66.6%
}

.course .descrition p {
  padding-left: 1em;
}

.school span {
  color: #A7B8BF;
}
.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .column {
  -ms-flex: 0 0 50%%;
  flex: 0 0 50%;
  max-width: 50%;
}

footer {
 padding: 1em;
}

a {
  color: #1C9C94;
}

a:hover {
  opacity: 0.5;
}


